In [13]:
d1 = pd.read_csv("./data/D2/abt.csv", sep='|', engine='python', na_filter=False).astype(str)
d2 = pd.read_csv("./data/D2/buy.csv", sep='|', engine='python', na_filter=False).astype(str)
gt = pd.read_csv("./data/D2/gt.csv", sep='|', engine='python')

## Test dataset

In [8]:
gt.sort_values(by = ['D1', 'D2'])

       D1   D2
594     0   53
702     1  151
679     2   33
808     3  192
835     4  150
..    ...  ...
162  1071  382
440  1072  882
233  1073  374
98   1074   22
147  1075   17

[1076 rows x 2 columns]

In [11]:
test_c1 = pd.DataFrame(columns = ['D1','D2'])
entities=0
for _, row in gt.iterrows().sort_values(by = ['D1', 'D2']):
    print(row['D1'])
    
    if entities == 100
        break

206